.ProductCard {
    width: 100%;
    max-width: 900px;
}

.ProductCard input {
    display: block;
    box-sizing: border-box;
    padding: 3px 5px;
    width: 30%;
    max-width: 400px;
    min-width: 110px;
    margin-bottom: .5em;
}

.ProductCard input:not(:last-child):focus {
    background-color: #e6f4fa;
}

.ProductCard input:nth-last-child(-n+2) {
    display: inline-block;
    width: 15%;
    max-width: 200px;
    min-width: 55px;
}

.ProductCard .nonvalid {
    display: block;
    color: #d33061;
    font-size: 0.8em;
}

.ProductCard p {
    margin: .5em 0;
}